/*IMPORTING GOOGLE FONTS*/
@import url("https://fonts.googleapi.com/css?family=Lora|Roboto");

/*IMPORTING ALL COMPONENTS FILS*/
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");

/*GENERAL STYLE RULES FOR FONTS AND COLOURS*/

body{
	font-family: 'Lora', serif;
	font-size: 18px;
	margin: 0px;

}

h1, h2, h3{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

a{
	text-decoration: none;
}